/* Introduction section */
.introduction {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px auto; /* Center the introduction horizontally */
    border-radius: 10px;
    max-width: 1000px; /* Constrain the width to 1000px */
}

.introduction-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Showcase section */
.showcase {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px auto; /* Center the showcase horizontally */
    max-width: 1000px; /* Constrain the width to 1000px */
    overflow-x: auto;
    white-space: nowrap;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    height: 300px; /* Adjust the height here */
    overflow: hidden; /* Hide overflow content */
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.item p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
