body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.introduction {
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px 0;
}

.introduction-content {
    max-width: 800px;
    margin: 0 auto;
}

.introduction-content p {
    margin: 0;
}

.showcase {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
}

.item img {
    width: 100%; /* Set the width of the images to 100% */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Add border radius */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about {
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about-container img {
    margin-right: 20px;
}

.about-content {
    max-width: 600px;
}

.review {
    max-width: 800px;
    background-color: #f4f4f4;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.review img {
    display: block; /* Ensure images are displayed as block elements */
    margin: 0 auto; /* Center the images horizontally */
    max-width: 100%; /* Ensure images don't exceed parent width */
}

.models {
    text-align: center; /* Center align the content */
    max-width: 800px; /* Set maximum width */
    margin: 0 auto; /* Center the section horizontally */
}
.models h2 {
    margin-bottom: 20px; /* Add space below the title */
}
.model-group {
    margin-bottom: 40px; /* Add space between model groups */
}
.image-grid {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    grid-gap: 20px; /* Add gap between grid items */
    justify-items: center; /* Center items horizontally within grid cells */
}
.image-grid img {
    max-width: 100%; /* Ensure images don't exceed parent width */
    border-radius: 10px; /* Add rounded corners to images */
}